<div class="col-lg-10">
  <h3>{{ title }}</h3>
  <!-- List of sent messages -->
  <div class="people" *ngIf="messages">
    <!-- List of users -->
    <div *ngFor="let message of messages" class="item-user">
      <div class="panel panel-default" *ngIf="message.emitter">
        <div class="panel-body">
          <div class="image-user pull-left">
            <a href="#"><img src="{{ url + 'get-image-user/' + message.emitter.image }}" *ngIf="message.emitter.image"><img src="../../../../assets/user.png" *ngIf="!message.emitter.image" class="avatar-default"></a>
          </div>
          <div class="user-name pull-left">
            <p class="name-surname"><a [routerLink]="['/profile', message.emitter._id]">{{ message.emitter.name + ' ' + message.emitter.surname }}</a>&nbsp;|&nbsp;<span class="nickname">{{ message.emitter.nickname }}</span>&nbsp;|&nbsp;<span class="date nickname">{{ (message.createdAt | amFromUnix) | amLocale:'es' | amTimeAgo }}</span></p>
            <p>{{ message.text }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <ul class="pagination pull-right">
      <li *ngIf="page > 1"><a [routerLink]="['/messages/received', prevPage]">Previous</a></li>
      <li *ngIf="pages != page"><a [routerLink]="['/messages/received', nextPage]">Next</a></li>
    </ul>
  </div>
</div>


