/* Header */
.navigation {
  padding: 0 !important;
}

.navigation .navbar {
  border-radius: 0 !important;
  background: #e53c37 !important;
  border: none;
}

.navigation .navbar * {
  color: white !important;
}
